* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arvo', serif;
}

/* Estilos para a barra de navegação */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    top: 10%;
    background-color: #324376;
}

/* Adiciona a classe fixed para estilizar a barra de navegação fixa */
nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #324376;
}


/* Estilos para links na barra de navegação */
a {
    color: #fff;
    font-weight: 400;
    font-size: small;
}

/* Estilos para o contêiner da barra de pesquisa */
#search-container {
    display: flex;
    align-items: center;
}

/* Estilos para a caixa de pesquisa */
#search-input {
    padding: 8px;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid white;
    /* Adiciona uma borda fina e branca */
    background-color: transparent;
    color: white;
}


/* Estilos para o botão de pesquisa */
#search-button {
    background-color: #4CAF50;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
}

/* Contêiner do slideshow */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Oculta as imagens por padrão */
.mySlides {
    display: none;
}

/* Botões de próxima e anterior no slideshow */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posiciona o botão "próximo" à direita */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Ao passar o mouse, adiciona uma cor de fundo preta com um pouco de transparência */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Texto de legenda */
.superscription {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 35px;
    width: 50%; /* Ajuste a largura conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    background-color: #00000091;
}

/* Texto numérico (1/3, etc.) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Animação de fading */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.lightBox {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    height: 220px;
}

.column {
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 7.5px;
    /* Ajustei o espaçamento para 15px entre as imagens */
    max-width: 300px;
    /* Adicionei uma max-width de 300px (ajuste conforme necessário) */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    overflow: hidden;
}

h2 {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
}

.p-lightBox {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
}

.img-lightBox {
    width: 100%;
    /* Ocupa 100% da largura da image-container (metade do espaço do container) */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.column:hover .img-lightBox {
    transform: scale(1.1);
    /* Adiciona um efeito de escala suave ao passar o mouse */
}

.infoAdicional {
    max-width: 100%;
    height: 350px;
}
.area-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.viagens-inter,
.viagens-nacio,
.viagensComercial,
.viagensDeIntercam {
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.tituloAreaLinks {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.textAreaLink {
    margin-top: 5px;
    color: black;
    text-align: center;
    max-width: 150px;
    word-wrap: break-word;
}

.iconViagensInter {
    width: 200px;
    height: 200px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 50%;
}

.botaoAreaLink {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid #0104d8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.botaoAreaLink:hover {
    background-color: #0104d8;
    color: #f0f0f0;
}

.video-container {
    max-width: 100%;
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.propaganda {
    max-width: 100%;
}

.missao {
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tituloMissao {
    text-transform: uppercase;
    font-weight: 700;
    color: #4CAF50;
}

.textoMissao {
    margin-top: 10px;
    white-space: pre-line;
}

.linhaDivisao {
    width: 20%;
    border: 2px solid #4CAF50;
    border-radius: 20px;
    margin-top: 10px;
}

.conteudo-especifico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.subMissao {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.subMissaoTitulo {
    font-weight: 400;
    margin-top: 20px;
    color: #0104d8;
    text-transform: uppercase;
}

.textodoSub {
    width: 500px;
    margin-top: 10px;
    text-align: start;
}

.botao2 {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
}

.botao2:hover {
    background-color: #0104d8;
}

.videoum {
    margin-left: 300px;
}

.videoum video {
    width: 640px;
    height: 360px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light-gray-section {
    background-color: #f2f2f2;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.dark-gray-section {
    background-color: #324376;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.icon,
.logo,
.map {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon img {
    width: 50px; /* ajuste o tamanho conforme necessário */
    height: 50px;
}

.icon-caption {
    font-size: 14px;
    color: #000;
    margin-left: 15px;
    font-weight: 700;
}

.map-caption{
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}

.icon-rodape{
    width: 200px;
    height: 200px;

}

.logo img,
.map img {
    max-width: 100%; /* ajuste o tamanho conforme necessário */
}